<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/static/img/favicon.ico">
<!-- Bootstrap core CSS -->
<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link href="/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="/bower_components/toastr/toastr.min.css" rel="stylesheet">
<link href="/static/editable/css/bootstrap-editable.css" rel="stylesheet">


<!-- Custom styles for this template -->
