<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/toastr/toastr.min.js"></script>
<script src="/static/editable/js/bootstrap-editable.min.js"></script>
<script>
    var l = 'http://localhost:3001';
    var s = 'http://sintret.com:3001';

    var socket = io(l);
    socket.on('onlines', function (datas) {
        var data = datas.data;

        $(".sideBar-body").each(function () {
            var id = $(this).data("id");
            var a = data.indexOf(id);
            if (a >= 0) {
                $("#online"+id).removeClass( "offline-meta" );
                $("#online"+id).html("online");
                if($("#online"+id).hasClass( "online-meta" )){

                }else{
                    $("#online"+id).addClass('online-meta');
                }
            } else {
                $("#online"+id).html("offline");
                $("#online"+id).removeClass( "online-meta" );
                if($("#online"+id).hasClass( "offline-meta" )){

                }else{
                    $("#online"+id).addClass('offline-meta');
                }
            }
        });
    });
</script>
<% include ../helpers/helpers %>
<% include ../partials/modal-profile.html %>
<script src="/static/js/main.js"></script>
