<div class="row app-one">
    <div class="col-sm-4 side">
        <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
                <div class="heading-avatar-icon">
                    <img src="/static/img/<%= user.photo %>">
                </div>
            </div>
            <div class="col-sm-9">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Home</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8 side">
        <div class="row heading">

        </div>
    </div>
</div>
<span class="notification-growl" style="display:none"><% if(sessionFlash){%><%=JSON.stringify(sessionFlash)%><%}%></span>
