.DS_Store

/node_modules
node_modules

/bower_components
bower_components

nbproject
/nbproject

# IDE Files
#-------------------------/
.idea
/.idea

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
