<% include ../helpers/helpers.ejs %>
<form id="user-form" method="post" action="/user/<%= act; %>" enctype='multipart/form-data'>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" value="<%= data.fullname %>" class="form-control" name="fullname" id="fullname" required
                       placeholder="Fullname">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" value="<%= data.email %>" class="form-control" name="email" id="email" required placeholder="Email">
            </div>

            <div class="form-group">
                <label for="roleId">Role</label>
                <select id="roleId" name="roleId" class="form-control">
                    <% for (var i = 0; i < dropdownRole.length; i++) { if(i > 0) { var selectedVal = i==data.roleId ? 'selected':'';  %>
                    <option value="<%= i %>"   <%= selectedVal;%> ><%= dropdownRole[i] %></option>
                    <% } } %>
                </select>
            </div>


        </div>


        <div class="col-md-6">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" value="<%= data.username %>" class="form-control" name="username" id="username" required
                       placeholder="Username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" value="<%= data.password %>" class="form-control" name="password" id="password" placeholder="Password">
            </div>

            <div class="form-group has-success">
                <label for="photo">File input</label>
                <input type="file" name="photo" id="photo">
                <p class="help-block"></p>
            </div>

            <% var checked = data.status ==1 ? 'checked' : ''; %>
            <div class="checkbox">
                <label>
                    <input type="checkbox" <%= checked; %> name="status" > Active
                </label>
            </div>


        </div>
    </div>


    <button type="button" class="btn btn-success saveSubmit">Submit</button>
</form>
<div>
    &nbsp;
</div>