<!DOCTYPE html>
<html lang="en">

<head>
    <title>Super Chat</title>
    <% include ../partials/main-head.html %>
    <meta name="description" content="awesome super chat">
    <meta name="author" content="sintret@gmail.com">
</head>

<body>

<div class="container app app-grid">

    <% include ../partials/menu_top.html %>

    <div class="container">
        <p>&nbsp;</p>
        <div class="pull-right">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="#">Users</a></li>
            </ol>
        </div>

        <% include ../helpers/helpers %>

        <div class="page-header">
            <h3>USERS</h3>
        </div>
        <div class="row">
            <div class="col-md-11">
                <a href="/user/create" class="btn btn-success pull-right">Add <i class="fa fa-plus"></i> </a>
            </div>

            <div class="col-md-1"></div>
        </div>
        <table class="table table-data">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <td>Status</td>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <% var no = 1; %>
            <% if(results.length) { %>
            <% results.forEach(function(result) { %>

            <tr>
                <td><%= no %></td>
                <td><%= result.username %></td>
                <td><%= result.fullname %></td>
                <td><%= result.email %></td>
                <td><%= dropdownActive[result.status] %></td>
                <td><%= getRoleName(result.roleId) %></td>
                <td>
                    <a href="/user/view/<%= result.id %>"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/user/update/<%= result.id %>"><i class="fa fa-pencil"></i> </a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/user/delete/<%= result.id %>"><i class="fa fa-trash"></i> </a>
                </td>
            </tr>
            <% no++; });} %>
            </tbody>
        </table>


        <%- pagination('users', count, currentPage) %>

    </div>
</div>
<% include ../partials/main-footer.html %>

</body>
</html>