<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/main-head.html %>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link href="/static/css/footer.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chat - Forgot Password</title>
</head>
<body>

<div class="container">

    <div class="card card-container">
        <h1 style="color: darkviolet" class="text-center">Super Chat</h1>

        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <div class="alert alert-danger" style="display: none" id="wrong1" role="alert">
            Email <strong> not found!</strong>
        </div>
        <div class="alert alert-danger" style="display: none" id="wrong2" role="alert">
            <strong> Check your email!</strong> we sent password to your email..
        </div>
        <h3 class="text-center">Request password reset</h3>
        <form class="form-signin" method="post" action="/forgot">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="email" class="form-control" placeholder="Your Email" name="email" required
                   autofocus>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Send</button>
        </form><!-- /form -->
        <a href="/login" class="forgot-password">
            back to Login
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<% include ../partials/footer.html %>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    var tError = getUrlParameter('error');
    var tSuccess = getUrlParameter('success');

    if (tError) {
        $("#wrong1").show();
    }
    if (tSuccess) {
        $("#wrong2").show();
    }

</script>
</body>
</html>