<!DOCTYPE html>
<html lang="en">

<head>
    <title>Super Chat</title>
    <link rel="stylesheet" href="static/css/chat.css">
    <% include ../partials/main-head.html %>
    <meta name="description" content="awesome super chat">
    <meta name="author" content="sintret@gmail.com">
</head>

<body>
<span class="notification-growl"
      style="display:none"><% if(sessionFlash){%><%= JSON.stringify(sessionFlash); %><%}%></span>



<div class="container app">
    <div class="row app-one">

        <div class="col-sm-4 side">
            <div class="side-one">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-3 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img class="profile-modal" src="/static/images/thumb/<%= user.photo%>">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Home</a></li>
                            <% if(roleId ==1) { %>
                            <li><a href="/users">Users</a></li>
                            <% } %>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>

                </div>

                <!-- Heading End -->

                <!-- SearchBox -->
                <div class="row searchBox">
                    <div class="col-sm-12 searchBox-inner">
                        <div class="form-group has-feedback">
                            <input id="searchText" type="text" class="form-control" name="searchText"
                                   placeholder="Search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="meId" value="<%= user.id %>">
                <input type="hidden" id="meUsername" value="<%= user.username %>">

                <!-- Search Box End -->
                <!-- sideBar -->
                <div class="row sideBar">
                    <%  var y = 0; if(users.length) { %>
                    <% users.forEach(function(result) {
                    if(y==0) {
                    %>
                    <input type="hidden" id="activeId" value="<%= result.id %>">
                    <input type="hidden" id="activeUser" value="<%= result.username %>">
                    <% } %>

                    <input type="hidden" id="input<%= result.id;%>" value="<%= result.username;%>">
                    <input type="hidden" id="avatar<%= result.id;%>" value="/static/images/thumb/<%= result.photo;%>">

                    <% if(roleId != result.roleId) { %>
                    <div class="row sideBar-body" data-id="<%= result.id; %>" data-u="user<%= result.id; %>" data-username="<%= result.username; %>" data-photo="<%= result.photo; %>">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon" onclick='chooseProfile("<%= result.username; %>", "<%= result.email; %>", "<%= result.roleId; %>", "<%= result.photo; %>") ' >
                                <img src="/static/images/thumb/<%= result.photo %>">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name"><span class="name-meta"><%= result.username %></span></div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time"><span id="online<%= result.id; %>" class="online-meta pull-right heading-compose">connected</span></div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <%  y++});} %>

                </div>
                <!-- Sidebar End -->
            </div>
            <div class="side-two">

                <!-- Heading -->
                <div class="row newMessage-heading">
                    <div class="row newMessage-main">
                        <div class="col-sm-2 col-xs-2 newMessage-back">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-10 col-xs-10 newMessage-title">
                            Profile
                        </div>
                    </div>
                </div>
                <!-- Heading End -->

                <!-- sideBar -->
                <p>&nbsp;</p>
                <div class="row sideBar">
                    <div class="col-md-1"></div>
                    <div class="col-md-8"><img class="img-thumbnail img-circle" src="/static/img/<%= user.photo%>">
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <!-- Sidebar End -->
        </div>


        <!-- New Message Sidebar End -->

        <!-- Conversation Start -->
        <div class="col-sm-8 conversation">
            <!-- Heading -->
            <div class="row heading avatar-place">
                <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="/static/images/thumb/b.jpg" title="test satu">
                    </div>
                </div>
            </div>
            <!-- Heading End -->

            <!-- Message Box -->
            <div class="row message" id="conversation" data-id="">

                <div class="row message-previous">
                    <div class="col-sm-12 previous">
                        <a id="sintretprevious" name="60">
                            Show Previous Message!
                        </a>
                    </div>
                </div>

            </div>
            <!-- Message Box End -->

            <% if(roleId !=3) { %>
            <!-- Reply Box -->
            <div class="row reply">
                <div class="col-sm-10 col-xs-10 reply-main footerbox">
                    <textarea class="form-control" rows="1" id="comment"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send" id="send-comment">
                    <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <!-- Reply Box End -->
            <% } %>
        </div>
        <!-- Conversation End -->
    </div>
    <!-- App One End -->

</div>
<script>
    var chatsStore = [];
    chatsStore = <%- JSON.stringify(chats) %>;
</script>
<% include ../partials/main-footer.html %>

<!-- App End -->
</body>

</html>