<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/main-head %>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link href="/static/css/footer.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chat - Login</title>
</head>
<body>

<div class="container">

    <div class="card card-container">
        <h1 style="color: darkviolet" class="text-center">Super Chat</h1>
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="post" action="/login">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" placeholder="Your Username" name="username" required
                   autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                   required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<% include ../partials/footer %>

</body>
</html>