<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/main-head.html %>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link href="/static/css/footer.css" rel="stylesheet">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chat - Login</title>
</head>
<body>

<div class="container">

    <div class="card card-container">
        <h1 style="color: darkviolet" class="text-center">Super Chat</h1>
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <% if(sessionFlashc==1) { %>
        <div class="alert alert-danger" id="wrong1" role="alert">
            Username or password <strong> is Wrong!</strong>
        </div>
        <% } %>
        <% if(sessionFlashc==2) { %>
        <div class="alert alert-danger" id="wrong2" role="alert">
           Your username is correct but your username <strong> is used and got online!</strong>
        </div>
        <% } %>
        <form class="form-signin" method="post" action="/login">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" placeholder="Your Username" name="username" required
                   autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
                   required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
        <a href="/forgot" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<% include ../partials/footer.html %>
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    var tError = getUrlParameter('error');

    if (tError == 1) {
        $("#wrong1").show();
    }
    if (tError == 2) {
        $("#wrong2").show();
    }

</script>
</body>
</html>